html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1048px;
}

.el-breadcrumb {
  margin-bottom: 20px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 8px 12px rgba(93, 88, 108, 0.03) !important;
}

.el-card__body {
  padding: 16px;
}

.el-dialog__footer {
  border-top: 1px solid #DCDFE6;
}

.el-table {
  margin: 16px 0;
}

.el-pagination {
  float: right;
  margin-bottom: 16px;
}

/* 优化级联选择器展开过高问题 */
.el-cascader-menu {
  max-height: 50vh;
}

.el-cascader {
  width: 100%;
}

/* 步骤条 */
.el-steps {
  margin: 32px 0;
}

.el-step__title {
  font-size: 13px;
}

.el-tabs__content {
  padding-left: 8px;
}

/* 富文本编辑器 */
.ql-container {
  min-height: 300px;
}