html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1048px;
}

.el-breadcrumb {
  margin-bottom: 20px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 8px 12px rgba(93, 88, 108, 0.03) !important;
}
.el-card__body {
  padding: 16px;
}
.el-dialog__footer {
  border-top: 1px solid #DCDFE6;
}